image: ${DOCKER_REGISTRY}/${DOCKER_IMAGE}:${DOCKER_IMAGE_VERSION}

# Gitlab SAST scanner jobs which runs on master
include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml
  - template: Security/Dependency-Scanning.gitlab-ci.yml

variables:
# Linux
  LD_PRELOAD: "/lib/x86_64-linux-gnu/libSegFault.so"
  SEGFAULT_SIGNALS: "all"
# Android
  ADB_INSTALL_TIMEOUT: "8"
# Gitlab SAST scanner
  SAST_EXCLUDED_PATHS: "tests, examples, docs, scripts"
  DS_EXCLUDED_ANALYZERS: "gemnasium-maven"

stages:
  - build
  - test
  - translate_report
  - deploy

# Job for running perf test with reports of mem/cpu usage
weekly_perf_reports:
  stage: build
  image: ${DOCKER_REGISTRY}/${DOCKER_IMAGE_USER}:${DOCKER_IMAGE_USER_VERSION}
  only:
    refs:
      - web
      - schedules
    variables:
      - $PERFORMANCE
  script: 
    - whoami
    - mkdir -p reports .public
    - $CI_PROJECT_DIR/scripts/linux/weekly/gitlab_build_perf_tests.sh
    - $CI_PROJECT_DIR/scripts/linux/weekly/gitlab_run_perf_test_metrics.sh
    - cat $CI_PROJECT_DIR/scripts/linux/weekly/reports/index.html >> .public/index.html && cat $CI_PROJECT_DIR/scripts/linux/weekly/performance_tests.json >> .public/performance_tests.json
    - if $(ls $CI_PROJECT_DIR/reports/*.xml &>/dev/null); then tar -czvf ${CI_JOB_NAME}_test_reports.tar.gz $CI_PROJECT_DIR/reports ; fi;
    - $CI_PROJECT_DIR/scripts/misc/artifactory_upload.sh edge-sdks/sdk-for-cpp/releases/test-reports/$CI_JOB_NAME/$CI_JOB_ID/${CI_JOB_NAME}_test_reports.tar.gz $CI_PROJECT_DIR/${CI_JOB_NAME}_test_reports.tar.gz
  artifacts:
    when: always
    paths:
      - performance_results_*.csv
      - test_detail_perf.json
      - .public
      - reports/*.xml
    expire_in: 1 year

build_linux_armhf_fv:
  stage: build
  tags:
  - docker-prod
  image: ${DOCKER_REGISTRY}/${DOCKER_IMAGE_ARMHF}:${DOCKER_IMAGE_ARMHF_VERSION}
  script:
  - $CI_PROJECT_DIR/scripts/linux-armhf/fv/gitlab_build_armhf_fv.sh
  only:
    refs:
      - web
      - schedules
    variables:
      - $FV

build_test_linux_fv:
  stage: build
  tags:
  - docker-prod
  image: ${DOCKER_REGISTRY}/${DOCKER_IMAGE_USER}:${DOCKER_IMAGE_USER_VERSION}
  script:
  - $CI_PROJECT_DIR/scripts/linux/fv/gitlab_build_fv.sh
  - $CI_PROJECT_DIR/scripts/linux/fv/gitlab_test_fv.sh
  - $CI_PROJECT_DIR/scripts/linux/fv/gitlab-olp-cpp-sdk-functional-network-test.sh
  - if $(ls $CI_PROJECT_DIR/reports/*.xml &>/dev/null); then tar -czf ${CI_JOB_NAME}_test_reports.tar.gz $CI_PROJECT_DIR/reports ; fi;
  - $CI_PROJECT_DIR/scripts/misc/artifactory_upload.sh edge-sdks/sdk-for-cpp/releases/test-reports/$CI_JOB_NAME/$CI_JOB_ID/${CI_JOB_NAME}_test_reports.tar.gz ${CI_JOB_NAME}_test_reports.tar.gz

  only:
    refs:
      - web
      - schedules
    variables:
      - $FV
  artifacts:
    reports:
      junit:
      - reports/*.xml
    when: always
    paths:
      - reports
    expire_in: 1 year

build_test_nv:
  stage: build
  tags:
  - docker-prod
  script:
  - $CI_PROJECT_DIR/scripts/linux/nv/gitlab_build_valgrind.sh
  - $CI_PROJECT_DIR/scripts/linux/nv/gitlab_test_valgrind.sh
  - if $(ls $CI_PROJECT_DIR/reports/*.xml &>/dev/null); then tar -czvf ${CI_JOB_NAME}_test_reports.tar.gz $CI_PROJECT_DIR/reports ; fi;
  - $CI_PROJECT_DIR/scripts/misc/artifactory_upload.sh edge-sdks/sdk-for-cpp/releases/test-reports/$CI_JOB_NAME/$CI_JOB_ID/${CI_JOB_NAME}_test_reports.tar.gz ${CI_JOB_NAME}_test_reports.tar.gz
  only:
    refs:
      - web
      - schedules
    variables:
      - $NV
  artifacts:
    when: always
    paths:
      - reports
      - scripts
      - build
      - tests
    expire_in: 90 days

test_performance_nv:
  stage: test
  tags:
  - docker-prod
  image: ${DOCKER_REGISTRY}/${DOCKER_IMAGE_PERFORMANCE}:${DOCKER_IMAGE_PERFORMANCE_VERSION}
  script:
  - $CI_PROJECT_DIR/scripts/linux/nv/gitlab_test_performance.sh
  - if $(ls $CI_PROJECT_DIR/reports/*.xml &>/dev/null); then tar -czvf ${CI_JOB_NAME}_test_reports.tar.gz $CI_PROJECT_DIR/reports ; fi;
  - $CI_PROJECT_DIR/scripts/misc/artifactory_upload.sh edge-sdks/sdk-for-cpp/releases/test-reports/$CI_JOB_NAME/$CI_JOB_ID/${CI_JOB_NAME}_test_reports.tar.gz ${CI_JOB_NAME}_test_reports.tar.gz
  only:
    refs:
      - web
      - schedules
    variables:
      - $NV
  artifacts:
    when: always
    paths:
      - ./*.gz
      - ./*.html
      - heaptrack
      - reports
    expire_in: 1 year

upload_sonar_nv:
  stage: deploy
  tags:
  - docker-prod
  image: ${DOCKER_REGISTRY}/${DOCKER_IMAGE_COVERAGE}:${DOCKER_IMAGE_COVERAGE_VERSION}
  script:
  - $CI_PROJECT_DIR/scripts/linux/nv/gitlab_cppcheck_and_upload_sonar.sh
  only:
    refs:
      - web
      - schedules
    variables:
      - $NV

translate_report_fv:
  stage: translate_report
  tags:
  - docker-prod
  image: python:3.6
  before_script:
    - pip install junit2html
  script:
    - python -m junit2htmlreport --report-matrix reports/functional-index.html reports/olp-functional*.xml
    - python -m junit2htmlreport --report-matrix reports/unit-index.html reports/olp-dataservice-write-test-report.xml reports/olp-dataservice-read-test-report.xml reports/olp-core-test-report.xml reports/olp-authentication-test-report.xml
    - python -m junit2htmlreport --report-matrix reports/integration-index.html reports/olp-integration*.xml
    - python -m junit2htmlreport --report-matrix reports/index.html reports/*.xml
    - python -m junit2htmlreport --report-matrix reports/fun-network-index.html reports/olp-functional-network-test-report.xml
    - sed -i -e 's/Reports\ Matrix/Functional\ Network\ Test\ Report/g' reports/fun-network-index.html
    - sed -i -e 's/Reports\ Matrix/Unit\ Test\ Report/g' reports/unit-index.html
    - sed -i -e 's/Reports\ Matrix/Integration\ Test\ Report/g' reports/integration-index.html
    - sed -i -e 's/Reports\ Matrix/Functional\ Test\ Report/g' reports/functional-index.html
    - sed -i -e 's/Reports\ Matrix/Full\ Test\ Report/g' reports/index.html
    - cat reports/unit-index.html >> reports/index.html
    - cat reports/integration-index.html >> reports/index.html
    - cat reports/functional-index.html >> reports/index.html
    - cat reports/fun-network-index.html >> reports/index.html
    - mkdir -p .public
    - cp reports/*ndex.html .public/
  artifacts:
    paths:
      - .public
  only:
    refs:
      - web
      - schedules
    variables:
      - $FV

translate_report_nv:
  stage: translate_report
  tags:
  - docker-prod
  image: python:3.6
  before_script:
    - pip install junit2html
  script:
    - python -m junit2htmlreport --report-matrix reports/index.html reports/*.xml
    - cat heaptrack_report.html >> reports/index.html
    - mkdir -p .public
    - cp reports/*ndex.html .public/
  artifacts:
    paths:
      - .public
  only:
    refs:
      - web
      - schedules
    variables:
      - $NV

pages:
  stage: deploy
  tags:
    - docker-prod
  script: mv .public public
  artifacts:
    paths:
      - public
    expire_in: 1 year
  only:
    refs:
      - web
      - schedules
    variables:
      - $FV
      - $NV
      - $PERFORMANCE

# TO DO: add Android network test into script $CI_PROJECT_DIR/scripts/android/build-test-emulator.sh
# Currently job below just build HERE Data SDK for Android and start AVD by Android SDK emulator.
test_android_emulator:
  stage: test
  tags:
  - docker-prod
  image: ${DOCKER_REGISTRY}/${DOCKER_IMAGE_ANDROID}:${DOCKER_IMAGE_ANDROID_VERSION}
  script:
  - $CI_PROJECT_DIR/scripts/android/build-test-emulator.sh
  when: manual
  only:
    - master
    - branches

# TO DO: OLPEDGE-2543
# Currently job below just build HERE Data SDK for iOS and start iOS emulator. Application fails to work with mock-server.
# Job is prepared for running on local MacMini hardware: tagged as `edge-macos`
test_ios_emulator_fv_network:
  stage: test
  tags:
  - edge-macos
  script:
  - $CI_PROJECT_DIR/scripts/ios/fv/gh-actions-build-with-tests-fv.sh
  - $CI_PROJECT_DIR/scripts/ios/fv/gh-actions-functional-network-test.sh
  when: manual
  only:
    - master
    - branches

# Manual job to generate API/ABI Backward Compatibility Reports:
# build current SDK and previous tagged SDK, then generate 4 html reports (for every lib)
generate_api_compliance_job:
  stage: test
  tags:
  - docker-prod
  image: ${DOCKER_REGISTRY}/${DOCKER_IMAGE_API}:${DOCKER_IMAGE_API_VERSION}
  script:
  - $CI_PROJECT_DIR/scripts/misc/api_compliance.sh
  - if $(ls $CI_PROJECT_DIR/*.html &>/dev/null); then tar -czf ${CI_JOB_NAME}_test_reports.tar.gz $CI_PROJECT_DIR/*.html; fi;
  - $CI_PROJECT_DIR/scripts/misc/artifactory_upload.sh edge-sdks/sdk-for-cpp/releases/test-reports/$CI_JOB_NAME/$CI_JOB_ID/${CI_JOB_NAME}_test_reports.tar.gz $CI_PROJECT_DIR/${CI_JOB_NAME}_test_reports.tar.gz
  when: manual
  only:
    - master
    - branches
  artifacts:
    paths:
    - ./*.html
    expire_in: 2 year
