name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

env:
  SEGFAULT_SIGNALS: all

jobs:
  psv-linux-22-04-gcc9-build-cpplint:
    name: PSV.Linux.22.04.gcc9.Cpplint
    runs-on: ubuntu-22.04
    env:
      BUILD_TYPE: RelWithDebInfo
      CC: gcc-9
      CXX: g++-9
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: "C++ Lint checker script"
        run: ./scripts/misc/cpplint_ci.sh
        shell: bash
      - name: Install Ubuntu dependencies
        run: sudo apt-get update && sudo apt-get install -y libboost-all-dev ccache libssl-dev libcurl4-openssl-dev gcc-9 g++-9 --no-install-recommends
        shell: bash
      - name: Compile project with cmake and ccache
        run: gcc --version && ./scripts/linux/psv/build_psv.sh
        shell: bash

  psv-linux-22-04-gcc9-build-test-codecov:
    name: PSV.Linux.22.04.gcc9.Tests.CodeCov
    runs-on: ubuntu-22.04
    env:
      BUILD_TYPE: COVERAGE
      CC: gcc-9
      CXX: g++-9
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: Install Ubuntu dependencies
      run: sudo apt-get update && sudo apt-get install -y libboost-all-dev ccache libssl-dev libcurl4-openssl-dev gcc-9 g++-9 --no-install-recommends
      shell: bash
    - name: Compile project with cmake and ccache
      run: gcc --version && ./scripts/linux/psv/build_psv.sh
      shell: bash
    - name: Run unit and integration tests
      run: ./scripts/linux/psv/test_psv.sh
      shell: bash
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  psv-linux-22-04-gcc9-build-no-cache:
    name: PSV.Linux.22.04.gcc9.OLP_SDK_ENABLE_DEFAULT_CACHE=OFF
    runs-on: ubuntu-22.04
    env:
      BUILD_TYPE: RelWithDebInfo
      CC: gcc-9
      CXX: g++-9
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: Install Ubuntu dependencies
      run: sudo apt-get update && sudo apt-get install -y libboost-all-dev libssl-dev libcurl4-openssl-dev gcc-9 g++-9 --no-install-recommends
      shell: bash
    - name: Compile project without cache
      run: ./scripts/linux/psv/build_psv_no_cache.sh
      shell: bash

  psv-linux-22-04-gcc11-build:
    name: PSV.Linux.22.04.gcc11
    runs-on: ubuntu-22.04
    env:
      BUILD_TYPE: RelWithDebInfo
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install Ubuntu dependencies
        run: sudo apt-get update && sudo apt-get install -y libboost-all-dev ccache libssl-dev libcurl4-openssl-dev --no-install-recommends
        shell: bash
      - name: Compile project with cmake and ccache
        run: gcc --version && ./scripts/linux/psv/build_psv.sh
        shell: bash

  psv-linux-22-04-gcc13-build-no-cache:
    name: PSV.Linux.22.04.gcc13.OLP_SDK_ENABLE_DEFAULT_CACHE=OFF
    runs-on: ubuntu-22.04
    env:
      BUILD_TYPE: RelWithDebInfo
      CC: gcc-13
      CXX: g++-13
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: Install Ubuntu dependencies
      run: sudo rm /etc/apt/sources.list.d/microsoft-prod.list && sudo add-apt-repository ppa:ubuntu-toolchain-r/test && sudo apt-get update && sudo apt-get install -y libboost-all-dev libssl-dev libcurl4-openssl-dev gcc-13 g++-13 --no-install-recommends
      shell: bash
    - name: Compile project without cache
      run: ./scripts/linux/psv/build_psv_no_cache.sh
      shell: bash

  psv-linux-22-04-gcc13-build:
    name: PSV.Linux.22.04.gcc13
    runs-on: ubuntu-22.04
    env:
      BUILD_TYPE: RelWithDebInfo
      CC: gcc-13
      CXX: g++-13
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install Ubuntu dependencies
        run: sudo add-apt-repository ppa:ubuntu-toolchain-r/test && sudo apt-get update && sudo apt-get install -y libboost-all-dev ccache libssl-dev libcurl4-openssl-dev gcc-13 g++-13 --no-install-recommends
        shell: bash
      - name: Compile project with cmake and ccache
        run: gcc --version && ./scripts/linux/psv/build_psv.sh
        shell: bash

  psv-linux-22-04-gcc11-build-no-cache:
    name: PSV.Linux.22.04.gcc11.OLP_SDK_ENABLE_DEFAULT_CACHE=OFF
    runs-on: ubuntu-22.04
    env:
      BUILD_TYPE: RelWithDebInfo
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: Install Ubuntu dependencies
      run: sudo apt-get update && sudo apt-get install -y libboost-all-dev libssl-dev libcurl4-openssl-dev --no-install-recommends
      shell: bash
    - name: Compile project without cache
      run: ./scripts/linux/psv/build_psv_no_cache.sh
      shell: bash

  psv-linux-22-04-clang-build:
    name: PSV.Linux.22.04.clang
    runs-on: ubuntu-22.04
    env:
      BUILD_TYPE: RelWithDebInfo
      CC: clang-11
      CXX: clang++-11
      CXXFLAGS: -Wno-deprecated-copy
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: Install Ubuntu dependencies
      run: sudo apt-get update -y && sudo apt-get install clang-11 ccache libcurl4-openssl-dev -y --no-install-recommends --fix-missing
      shell: bash
    - name: Compile project on Clang
      run: scripts/linux/psv/build_psv.sh
      shell: bash

  psv-android-22-04-build:
    name: PSV.Linux.Android.22.04
    runs-on: ubuntu-22.04
    env:
      BUILD_TYPE: RelWithDebInfo
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: Verification of prerequisites
      run: env && ls -la $ANDROID_HOME
      shell: bash
    - name: Android build and Examples
      run: scripts/android/build.sh
      shell: bash

  psv-macos-13-x86_64-xcode-15-build:
    name: PSV.MacOS13.Xcode15.x86_64
    runs-on: macOS-13
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: MacOS Build Xcode15
      run: scripts/macos/psv/azure_macos_build_psv.sh
      shell: bash

  psv-macos-14-arm64-xcode-15-build:
    name: PSV.MacOS14.Xcode15
    runs-on: macos-14
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: MacOS Build Xcode15
      run: scripts/macos/psv/azure_macos_build_psv.sh
      shell: bash

  psv-macos-15-arm64-xcode-16-build:
    name: PSV.MacOS13.Xcode16
    runs-on: macos-15
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: MacOS Build Xcode16
      run: scripts/macos/psv/azure_macos_build_psv.sh
      shell: bash

  psv-ios-x86_64-xcode-15-build:
    name: PSV.iOS.MacOS13.Xcode15
    runs-on: macOS-13
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: iOS Xcode 15 Build
      run: scripts/ios/azure_ios_build_psv.sh
      shell: bash

  psv-ios-x86_64-xcode-14-build:
    name: PSV.iOS.MacOS13.Xcode14
    runs-on: macOS-13
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: iOS Xcode 14.3 Build
        run: scripts/ios/azure_ios_build_psv.sh
        shell: bash
        env:
          USE_LATEST_XCODE: 0

  psv-ios-os15-arm64-xcode-16-build:
    name: PSV.iOS.MacOS13.Xcode16
    runs-on: macOS-15
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: iOS Xcode 16 Build
      run: scripts/ios/azure_ios_build_psv.sh
      shell: bash

  psv-ios-os14-arm64-xcode-15-build:
    name: PSV.iOS.MacOS14.Xcode15
    runs-on: macOS-14
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: iOS Xcode 15 Build
        run: scripts/ios/azure_ios_build_psv.sh
        shell: bash

  psv-win-16-vc2019-build:
    name: PSV.Win.VC2019
    runs-on: windows-2019
    env:
      BUILD_TYPE: RelWithDebInfo
      GENERATOR: "Visual Studio 16 2019"
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Build
        run: scripts/windows/build.sh
        shell: bash

  psv-commit-checker:
    name: PSV.Commit.Checker
    runs-on: ubuntu-22.04
    if: github.ref_name != 'master'
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set tags env variables.
      run: |
        # Get your last commit message, not the merge commit.
        text=$(git log -1 --no-merges --pretty=%B)
    - name: Commit checker script. Verify commit text
      run: scripts/misc/commit_checker.sh
      shell: bash
